<div class="alert alert-info text-center" role="alert">
 Programador e Web Designer - Wagner Andrade. Um amante de tecnologia e esportes. :)
 <a href="mailto:andradewagner@hotmail.com?Subject=Rio%20Service%20-%20Contato">andradewagner@hotmail.com</a>
</div>
