<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a href="/" class="navbar-brand">Saara Online</a>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Início</a>
        </li>
        <li>
          <a href="/lojas"><span class="glyphicon glyphicon-user"></span> Lojas</a>
        </li>
        <li>
          <a href="/quem_somos"><span class="glyphicon glyphicon-info-sign"></span> Quem Somos?</a>
        </li>
        <li>
          <a href="mailto:faleconosco@servicerio.com?Subject=Service%20Rio%20-%20Fale%20Conosco"><span class="glyphicon glyphicon-book"></span> Fale Conosco</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
