<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/time" class="lang-logo">
      <img src="/logo.png">
    </a>
    <h1>Saara Online - Todas as lojas do Saara em um só lugar!</h1>
    <p>Agora ficou mais fácil encontrar tudo o que você precisa no Saara. Faça uma busca e encontre de forma rápida e fácil o que você deseja!</p>
    <a type="button" class="btn btn-lg btn-default" href="/lojas"><span class="glyphicon glyphicon-flash"></span> Veja nossas lojas</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    O que você precisa? Encontre aqui produtos de cama mesa e banho, Produto têxtil, Joias, Ferramentas, CD e DVD, Tudo em um só lugar!
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Conheça a Saara!</h3>
      <p>
        É um centro popular de compras tradicional do Rio de Janeiro, onde se pode encontrar de tudo: desde fantasias para o carnaval,
        até peças de vestuário, artigos para festa e itens de decoração para a casa.
      </p>
      <p>
        Caminhar pelo Saara é sempre uma experiência antropológica imperdível: Os lojistas promovem seus produtos através de locutores
        que ficam com um microfone na rua anunciando as ofertas do dia e conversando com os transeuntes; ao caminhar por suas ruas,
        você ouve a rádio Saara, que veicula propagandas altamente improvisadas, mas muito bem-humoradas de suas lojas;
      </p>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Próximos Passos</h3>
      <ul>
        <li>Encontrando o serviço ou loja que necessita, basta ver o telefone de contato ou clicar no mapa para ver sua localização</li>
        <li>Veja o site da loja</li>
        <ul>
          <li>Busque por promoções e campanhas</li>
          <li>Encontre o melhor preço do Rio de Janeiro</li>
        </ul>
        <li>Desfrute de uma infinidade de produtos e serviços</li>
        <li>Conheça e se encante com a Saara!</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Links Úteis</h3>
      <ul>
        <li><a href="http://www.globo.com" target="_blank">Globo.com</a></li>
        <li><a href="http://www.climatempo.com.br" target="_blank">Clima Tempo</a></li>
        <li><a href="http://www.google.com.br" target="_blank">Google</a></li>
        <li><a href="http://www.youtube.com" target="_blank">YouTube</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <% include ../partials/footer.ejs %>
</div>

</body>
</html>
