<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2 text-center">
        <a href="http://www.pontofrio.com.br/" target="_blank">
          <img class="lojas" src="../../images/Logo-ptf-400x321.jpg" />
        </a>
      </div>
      <div class="col-md-10">
        <span>
          Dedica-se à comercialização de produtos eletrodomésticos, eletrônicos, móveis, entre outros.
          <br/>
          O nome Ponto Frio originou-se na tradução da marca estadunidense Coldspot, uma extinta marca de refrigeradores
          que era representada pelo Ponto Frio na época de sua fundação.
          <br/>
          A primeira loja da rede foi inaugurada em 1952, no centro do Rio de Janeiro (Rua Uruguaiana, n.º 134), e se tornou
          referência na venda de geladeiras e máquinas de costura importadas, além de fogões nacionais.
        </span>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <% include ../partials/footer.ejs %>
</div>


</body>
</html>
