<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Conheça a Saara</h1>
    <p>
      A Sociedade de Amigos das Adjacências da Rua da Alfândega é uma associação formada pelos comerciantes que atuam
      nas proximidades da Rua da Alfândega, no Centro da cidade do Rio de Janeiro, no Brasil. O termo "Saara", por extensão,
      é utilizado para se referir à região abrangida por essa associação, região essa que é famosa por abrigar lojas
      especializadas em artigos populares.
    </p>
    <h2>História</h2>
    <p>
      A região atualmente abrangida pela Sociedade de Amigos das Adjacências da Rua da Alfândega foi ocupada, no início do
      século XX, por imigrantes muçulmanos, judeus e cristãos maronitas provenientes do Império Turco-Otomano, que estava
      em processo de desintegração. Por esse motivo, uma das principais ruas da região, a Rua da Alfândega, recebeu o apelido
      de "Rua dos Turcos".
      <br/>
      Em 1962, diante das ameaças de demolição das casas da região por conta de projetos urbanísticos, os comerciantes da área
      formaram a Sociedade de Amigos das Adjacências da Rua da Alfândega, com o objetivo de defender a manutenção das
      características urbanísticas da região.
      <br/>
      Com o tempo, a sigla da sociedade, "SAARA", passou a ser utilizada pela população para se referir à região por ela abrangida,
      que passou a ser um ponto de referência em comércio popular na cidade.
    </p>
    <h2>Características</h2>
    <p>
      Entre as ruas da região, destacam-se a Uruguaiana, a da Alfândega, a Buenos Aires e a República do Líbano.
      <br/>
      Na região, se localiza o Real Gabinete Português de Leitura.
      <br/>
      Na Rua Uruguaiana, se localiza o Mercado Popular da Rua Uruguaiana, que foi inaugurado em 1994 pelo prefeito César Maia
      para dar melhores condições de trabalho aos vendedores informais que já ocupavam a área.
      <br/>
      A administração da Sociedade de Amigos das Adjacências da Rua da Alfândega se encontra no número 983 da Avenida Presidente Vargas.
    </p>
  </div>
</div>
<div class="container">

   <% include ../partials/footer.ejs %>
</div>


</body>
</html>
